<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body>
        <div class=wrapper>
                

                <form action="/signin" method= "POST" class=par>
                    <div class=h>
                        <h3>Sign in</h3>
                    </div>

                    {% csrf_token %}
            <div class=bt>
                <div class=in>
                    <label for="">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter your Username" required>
                </div>    <br>
                <div class=in>  
                    <label for="">password</label>
                    <input type="password" name="pass1" id="pass1" placeholder="Enter your password" required>
                </div><br><br>
            </div>
                <div class=btn>
                    <button type=submit >Sign in</button>
                </div>
                
                </form>
        </div>
</body>