body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/abstract-creative-background-using-your-project-ui-ux-design_155807-1102.avif);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
}

