body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/abstract-creative-background-using-your-project-ui-ux-design_155807-1102.avif);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    background-color: transparent;
    align-items: center ;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.626);
    color: #fff;
    border-radius: 10px;
    border-radius: 50px;
    width: 450px;
    height: 350px;
}

.h{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}
.btn button{
    width: 60%;
    height: 30px;
    color: whitesmoke;
    background-color: #863c92;
    font-size: 20px;
    font-weight: 200;
    
}

.btn :hover{
    text-decoration: underline;
    cursor: pointer;
}

.bt{
    text-align: center;
    align-items: center;
}

.bt .in input{
    background-color: #863c92;
}